conda.enabled        = true
executor.$local.cpus = 4
process.executor     = 'local'

params.libTypes = ['ISR', 'ISF']
params.metrics  = ['NumReads', 'TPM']
params.alpha    = [0.05, 0.01]
params.experiments = [
    [
        'strain' : 'rn',
        'repNo'  : 3,
        'groups' : ['wt_lg', 'mt_lg']
    ],
    [
        'strain' : 'rn',
        'repNo'  : 3,
        'groups' : ['wt51e_lg', 'mt51e_lg']
    ],
    [
        'strain' : 'rn',
        'repNo'  : 3,
        'groups' : ['mt51e_lg', 'mt51s_lg']
    ],
    [
        'strain' : 'us',
        'repNo'  : 3,
        'groups' : ['wt_lg', 'mt_lg']
    ]
]
