/* Created by Michal Bukowski (michal.bukowski@tuta.io, m.bukowski@uj.edu.pl)
   under GPL-3.0 license. For detail see the following publication:
   
   Bukowski M, Kosecka-Strojek M, Wladyka B. Disruption of saoB and saoC genes
   in Staphylococcus aureus alters transcription of genes involved in amino acid
   metabolism and virulence. [awaiting publication]
   
   Config file for rnaseq-pipeline-2 Nextflow workflow.
   
   Enable usage of conda environments.
*/
conda.enabled        = true
/* Maximum CPU cores to be used and executor type.
*/
executor.$local.cpus = 4
process.executor     = 'local'

/* Types of sequencing libraries for salmon quant to be used.
*/
params.libTypes = ['ISR', 'ISF']
/* Metrics to be collected by salmon quantmerge.
*/
params.metrics  = ['NumReads', 'TPM']
/* Values for alpha (padj, FDR) thresholds for DGE (differential gene expression)
   analysis to be run for (using DESeq2).
*/
params.alpha    = [0.05, 0.01]
/* Design of experiments that corresponds to the names of read files,
   strain_group_replica_RN.fastq.gz, where N is 1 or 2 and refers to reads 1
   and reads 2 from read pairs:
   strain -- e.g. bacterial strain/isolate name
   groups -- experimental group names, here wt (the wild type) and mt (a mutant),
             the first group is the reference group
   repNo  -- number of replicas
   The exmample below includes 2 experiments.
*/
params.experiments = [
    [
        'strain' : 'rn',
        'repNo'  : 3,
        'groups' : ['wt_lg', 'mt_lg']
    ],
    [
        'strain' : 'rn',
        'repNo'  : 3,
        'groups' : ['wt_lt', 'mt_lt']
    ]
]
